<section class="login">
    <div class="login__container">
        <h2>Inventory System Login</h2>

        <form class="form">
            <div class="form__field">
                <div class="form__control">
                    <input type="text" placeholder="Username">
                </div>
                <!-- <nd-message></nd-message> -->
            </div>
            <div class="form__field">
                <div class="form__control">
                    <input type="password" placeholder="Password">
                </div>
                <!-- <nd-message></nd-message> -->
            </div>
            <button type="submit" class="button button--primary">Login</button>
        </form>
    </div>
</section>